/*/.idea/
/money-server/money-service/target/
/money-server/money-pojo/target/
/money-server/money-mapper/target/
/money-server/money-common/target/
/money-server/money-api/target/
/money-scripts/jsons
/money-scripts/income_statements
/money-scripts/cash_statement
/money-scripts/balance_sheet